$color-white: #fff;

/*red */
$color-1--1: #cb2630;
$color-1--1: #c71721;

/*black*/
$color-2--1: #242d3b;

html {
    font-size: 62.5%;
    box-sizing: border-box;

    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
}

body {
    background-color: #f7f8f9;
    color: $color-2--1;
    font-family: $typo-1;
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;

}

%font-regular {
    color: $color-white;
    font-family: $typo-1;
    font-size: 10px;
}

%clearfix {
    &::after {
        content: '';
        display: table;
        width: 100%;
        clear: both;
    }
}

div {
    box-sizing: border-box;
}

a:focus,
button:focus {
    outline: 0;
}

.hidden {
    display: none;
}

.site-wrapper-out {
    box-sizing: border-box;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

.site-wrapper {
    height: 100%;
    left: 0;
    min-height: 100vh;
    position: relative;
    transition: transform 0.5s;
    width: 100%;
    z-index: 99;

    .menu-opened & {
        transform: translate3d(53rem, 0, 0);

        @include breakpoint(767) {
            transform: none;
        }
    }
}

.site-main {
    flex-grow: 1;
    width: 100%;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    left: 0;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

.container {
    max-width: 119rem;
    margin: 0 auto;
    padding: 0 1rem;

    @include breakpoint(1170) {
        padding: 0 3rem;
    }

    @include breakpoint(992) {
        padding: 0 1rem;
    }

    @include breakpoint(767) {
        max-width: 100%;
    }

    &.-page {
        padding-bottom: 7.5rem;
        padding-top: 4.5rem;
    }
}
