// Import fonts
$import-google-font-1: 'https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap';
$import-google-font-2: 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i,800';

@if variable-exists(import-google-font-1) {
  @import url($import-google-font-1);
}

@if variable-exists(import-google-font-2) {
  @import url($import-google-font-2);
}

// Site fonts // http://melchoyce.github.io/fontstacks/
$typo-1: 'Montserrat', 'Franklin Gothic Medium', Tahoma, sans-serif;
$typo-2: 'Open Sans', 'Segoe UI', Tahoma, sans-serif;
