// Import google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900&display=swap');


// Import another fonts
@font-face {
  font-family: 'GothamPro';
  src: url('../../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/GothamPro.woff') format('woff'),
  url('../../fonts/GothamPro.ttf')  format('truetype'),
  url('../../fonts/GothamPro.svg#GothamPro') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Site fonts
$typo-1: 'Montserrat', 'Franklin Gothic Medium', Tahoma, sans-serif;
$typo-2: 'GothamPro', 'Segoe UI', Tahoma, sans-serif;
