.article {
    $this: &;

    > *:last-child {
        margin-bottom: 0;
    }

    &__title {
        font-size: 3rem;
        margin: 3.5rem 0;

        @include breakpoint(767) {
            font-size: 2.4rem;
            margin: 2rem 0;
        }
    }

    &__text {
        font-weight: 500;
        line-height: 1.8;
        margin: 2.5rem 0;

        @include breakpoint(767) {
            margin: 2rem 0;
        }
    }

    ol#{$this}__list,
    ul#{$this}__list {
        list-style: none;
        margin: 2.7rem 0;
        padding: 0;

        li {
            counter-increment: step-counter;
            font-weight: 500;
            line-height: 1.8;
            padding-left: 4rem;
            position: relative;

            @include breakpoint(767) {
                padding-left: 3rem;
            }

            &::before {
                color: $color-1--1;
                content: counter(step-counter);
                font-weight: 700;
                left: 0;
                line-height: 1.5;
                position: absolute;
                top: 0;
            }

            + li {
                margin-top: 2.5rem;
            }
        }
    }

    ul#{$this}__list {
        li {
            &::before {
                content: '\2014';
            }
        }
    }

    &__table {
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        font-size: 1.4rem;
        font-weight: 500;
        margin: 5.5rem 0 4rem;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        width: 100%;

        @include breakpoint(767) {
            margin: 3.5rem 0;
        }

        &::-webkit-scrollbar {
            appearance: none;
            background-color: rgba(#e9e9e9, 0.5);
            width: 1rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $color-white;
        }

        th,
        td {
            font-weight: 500;
            min-width: 20.5rem;
            padding: 2rem 3rem;
            text-align: left;
            vertical-align: middle;
        }

        thead {
            th {
                background: $color-white;
                font-weight: 700;
                padding: 2rem 3rem;
            }
        }

        tr + tr {
            border-top: 4px solid $color-white;
        }
    }

    &__subtitle {
        font-size: 2rem;
        margin: 3rem 0;

        @include breakpoint(767) {
            font-size: 1.8rem;
            margin: 2rem 0;
        }
    }

    &__blockquote {
        border-left: 0.4rem solid #d72f2c;
        font-weight: 500;
        line-height: 2;
        margin: 4.7rem 0;
        padding-left: 2.7rem;

        @include breakpoint(767) {
            margin: 2.7rem 0;
        }
    }
}
