.card {
    position: relative;

    &__close-btn {
        @include trs();
        background-color: transparent;
        border: 0;
        cursor: pointer;
        height: 3.3rem;
        line-height: 0;
        padding: 1rem;
        position: absolute;
        right: 0;
        top: 0;
        width: 3.3rem;

        @include on-event() {
            background-color: rgba($color-2--2, 0.5);
        }

        &::before {
            content: url('../images/icon-cross.svg');
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &__content {
        display: flex;
        flex-shrink: 0;
        width: 41rem;

        @include breakpoint(767) {
            width: 25rem;
        }
    }

    &__image {
        margin-right: 1rem;

        @include breakpoint(767) {
            display: none;
        }

        img {
            height: auto;
            max-width: 11rem;
            object-fit: cover;
            width: 100%;
        }
    }

    &__title {
        font-size: 1.8rem;
        margin: 0.2rem 0 1rem;
    }

    &__subtitle {
        font-size: 1.2rem;
        font-weight: 500;
        margin: 0 0 2.2rem;
    }

    &__state {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 2.2rem;
        margin: 2.2rem 0 0;

        span {
            background-color: $color-2--4;
            font-size: 1rem;
            margin: 0 0 0 1.5rem;
            padding: 0.5rem 1.2rem;
        }
    }

    &__info {
        display: flex;
        padding: 3.5rem 0 0 2.5rem;
        width: calc(100% - 41rem);

        @include breakpoint(790) {
            padding-left: 0;
        }

        @include breakpoint(767) {
            padding-left: 2rem;
            width: calc(100% - 25rem);
        }

        @include breakpoint(640) {
            margin-left: -1.4rem;
            padding-left: 0;
            width: 100%;
        }
    }

    &__info-col {
        display: flex;
        flex-direction: column;
        padding-left: 1.4rem;
        width: calc(100% / 3);
    }

    &__info-caption {
        font-size: 1.2rem;
        font-weight: 500;
        margin: 0 0 3rem;
    }

    &__info-date {
        font-size: 1.4rem;
        font-weight: 500;
    }

    &__info-sum {
        font-size: 1.6rem;
        font-weight: 900;
        line-height: 1;

        @include breakpoint(640) {
            font-size: 1.4rem;
            line-height: inherit;
        }
    }

    &__info-status {
        color: $color-1--1;
        font-size: 1.6rem;
        font-weight: 900;
        line-height: 1;

        @include breakpoint(480) {
            font-size: 1.4rem;
            line-height: inherit;
        }

        &.-done {
            color: $color-3--1;
        }
    }
}
