.delivery {
    position: relative;

    &::before {
        background: url('../images/bg-delivery.png');
        content: '';
        height: 85rem;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translate(-47%, -12%);
        width: 103rem;
    }

    &__list {
        display: flex;
        list-style: none;
        margin: 0 -1.5rem;
        padding: 0;

        @include breakpoint(992) {
            flex-wrap: wrap;
        }
    }

    &__item {
        background-color: $color-white;
        counter-increment: step-counter;
        flex-grow: 1;
        margin: 0 1.5rem;
        padding: 4rem 5rem 5rem 4rem;
        position: relative;
        width: calc(100% / 3 - 3rem);

        @include breakpoint(992) {
            width: calc(50% - 3rem);

            &:not(:last-child) {
                margin-bottom: 3rem;
            }
        }

        @include breakpoint(767) {
            width: 100%;
        }

        &::before {
            content: '0'counter(step-counter);
            font-size: 4.2rem;
            font-weight: 300;
            opacity: 0.13;
            position: absolute;
            right: 2.3rem;
            top: 2.3rem;
        }
    }

    &__image {
        max-height: 6rem;
    }

    &__title {
        color: $color-1--1;
        font-size: 2rem;
        font-weight: 700;
        margin: 3.3rem 0 0;
    }

    &__teaser {
        font-weight: 500;
        line-height: 2;
        margin: 2.2rem 0 0;
    }
}
