.header {
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    //left: 0; // check in IE without left: 0
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    &__left {
        align-items: center;
        display: flex;
    }

    &__right {
        display: flex;
    }

    &__logo {
        padding: 2.6rem 1rem 2.5rem 5rem;

        @include breakpoint(1170) {
            padding: 2.6rem 1rem 2.5rem 2rem;
        }

        @include breakpoint(767) {
            left: 50%;
            padding: 1rem 2rem;
            position: absolute;
            transform: translateX(-50%);
        }

        .logo {
            display: block;

            &__image {
                img {
                    max-width: 19.4rem;

                    @include breakpoint(767) {
                        max-width: 15.4rem;
                    }
                }
            }
        }
    }

    &__basket-btn {
        @include trs();
        background-color: $color-white;
        border: 0;
        cursor: pointer;
        display: block;
        height: 10rem;
        padding: 3.6rem;
        position: relative;
        width: 10rem;

        @include breakpoint(767) {
            height: 6rem;
            padding: 1.5rem;
            width: 6rem;
        }

        &::before {
            content: url("../images/basket.svg");

            @include breakpoint(small down) {
                content: url("../images/basket-large.svg");
            }
        }

        @include on-event() {
            background-color: rgba(#424e5e, 0.1);
        }
    }

    &__phone {
        padding: 3.8rem 6.5rem 3.8rem 3.5rem;

        @include breakpoint(1170) {
            padding: 3.8rem 3.5rem 3.8rem 3.5rem;
        }

        @include breakpoint(992) {
            padding: 3.8rem 2.5rem 3.8rem 2.5rem;
        }
        
        @include breakpoint(767) {
            display: none;
        }
    }

    &__phone-link {
        @include trs();
        color: #515b6a;
        display: block;
        font-family: $typo-1;
        font-size: 2rem;
        font-weight: 700;
        padding: 0 0 0 3rem;
        position: relative;
        text-decoration: none;

        &::before {
            content: url("../images/phone.svg");
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        @include on-event() {
            color: $color-1--1;
        }
    }

    &__login {
        border-left: 0.1rem solid rgba(#424e5e, 0.1);
        border-right: 0.1rem solid rgba(#424e5e, 0.1);
        padding: 4.2rem 12.5rem 4.1rem 6rem;

        @include breakpoint(1170) {
            padding: 4.2rem 6rem 4.1rem 6rem;
        }

        @include breakpoint(992) {
            padding: 4.2rem 2.5rem 4.1rem 2.5rem;
        }
        
        @include breakpoint(900) {
            display: none;
        }
    }

    &__login-link {
        @include trs();
        color: #515b6a;
        display: block;
        font-family: $typo-1;
        font-size: 1.4rem;
        font-weight: 500;
        height: 100%;
        padding: 0 0 0 4rem;
        position: relative;
        text-decoration: none;

        &::before {
            content: url("../images/shape.svg");
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        @include on-event() {
            color: $color-1--1;
        }
    }
}

.header-fixed {
    padding-top: 10rem;

    @include breakpoint(767) {
        padding-top: 6rem;
    }
}
