.header {
    display: flex;
    justify-content: space-between;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;

    &__left {
        align-items: center;
        display: flex;
    }

    &__right {
        display: flex;
    }

    &__logo {
        padding: 2.6rem 1rem 2.6rem 5rem;

        @include breakpoint(small down) {
            padding: 2.6rem 6rem;
        }

        .logo {
            display: block;

            &__image {
                img {
                    max-width: 19.4rem;

                    @include breakpoint(small down) {
                        max-width: 100%;
                    }
                }
            }
        }
    }

    &__menu-btn {
        @include breakpoint(small down) {
            padding: 4.7rem 3.4rem;
        }
    }

    &__basket-btn {
        @include trs();
        background-color: $color-white;
        border: 0;
        cursor: pointer;
        display: block;
        height: 10rem;
        padding: 3.6rem;
        position: relative;
        width: 10rem;

        @include breakpoint(small down) {
            height: auto;
            padding: 4.25rem 3rem;
            width: auto;
        }

        &::before {
            content: url("../images/basket.svg");

            @include breakpoint(small down) {
                content: url("../images/basket-large.svg");
            }
        }

        @include on-event() {
            background-color: rgba(#424e5e, 0.1);
        }
    }

    &__phone {
        padding: 3.3rem 6rem 3.3rem 3.5rem;

        @include breakpoint(small down) {
            display: none;
        }
    }

    &__phone-link {
        @include trs();
        color: #515b6a;
        display: block;
        font-family: $typo-1;
        font-size: 2rem;
        font-weight: 700;
        padding: 0.5rem 0.5rem 0.5rem 3rem;
        position: relative;
        text-decoration: none;

        &::before {
            content: url("../images/phone.svg");
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        @include on-event() {
            color: #cb2630;
        }
    }

    &__login {
        border-left: 0.1rem solid rgba(#424e5e, 0.1);
        border-right: 0.1rem solid rgba(#424e5e, 0.1);
        padding: 3.7rem 12rem 3.6rem 6rem;

        @include breakpoint(small down) {
            display: none;
        }
    }

    &__login-link {
        @include trs();
        color: #515b6a;
        display: block;
        font-family: $typo-1;
        font-size: 1.4rem;
        font-weight: 500;
        height: 100%;
        padding: 0.5rem 0.5rem 0.5rem 4rem;
        position: relative;
        text-decoration: none;

        &::before {
            content: url("../images/shape.svg");
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        @include on-event() {
            color: #cb2630;
        }
    }
}

.header-fixed {
    padding-top: 10rem;

    @include breakpoint(small down) {
        padding-top: 12.4rem;
    }
}
