.map {
    margin: 7rem 0 0;
    max-width: 100%;

    @include breakpoint(767) {
        margin: 3rem 0 0;
    }
    
    img {
        display: block;
        height: auto;        
        width: 100%;
    }
}
