.menu-toggle {
    $this: &;
    @include trs();
    background-color: $color-1--1;
    border: 0;
    cursor: pointer;
    display: block;
    height: 10rem;
    position: relative;
    width: 10rem;

    @include on-event() {
        background-color: #be252e;

        @include breakpoint(767) {
            background-color: transparent;
        }
    }

    @include breakpoint(767) {
        background-color: transparent;
        height: 6rem;
        width: 6rem;
    }

    .menu-opened & {
        #{$this}__line {
            &:first-child {
                transform: translateY(0.5rem) rotate(45deg);

                @include breakpoint(767) {
                    transform: translateY(1rem) rotate(45deg);
                }
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:last-child {
                transform: translateY(-0.5rem) rotate(-45deg);
            }
        }
    }

    &__lines {
        left: 50%;
        top: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    &__line {
        background-color: #fff;
        display: block;
        height: 0.2rem;
        margin-bottom: 0.3rem;
        width: 2.1rem;
        transition: all 250ms ease-in-out 0ms;

        @include breakpoint(767) {
            background-color: $color-1--1;
            height: 0.4rem;
            margin-bottom: 0.4rem;
            width: 3rem;
        }
    }
}

.menu {
    background-color: #be252e;
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    transition: all 0.5s;
    transform: translate3d(-100%, 0, 0);
    visibility: hidden;
    width: 53rem;
    z-index: 100;

    @include breakpoint(767) {
        height: calc(100vh - 6rem);
        top: 6rem;
        width: 100%;
    }

    .menu-opened & {
        transform: translate3d(0, 0, 0);
        transition: transform 0.5s;
        visibility: visible;

        @include breakpoint(767) {
            transform: translate3d(0, 0, 0);
        }
    }

    &__phone {
        background-color: #ae222a;
        padding: 3.7rem 20rem 3.6rem 9rem;

        @include breakpoint(767) {
            padding: 2.5rem 3.5rem;
        }
    }

    &__phone-link {
        @include trs();
        color: $color-white;
        display: block;
        font-size: 2.2rem;
        font-weight: 700;
        padding: 0 0 0 4rem;
        position: relative;
        text-decoration: none;

        @include on-event() {
            color: rgba($color-white, 0.37);
        }

        @include breakpoint(767) {
            font-size: 2rem;
            padding: 0 0 0 3rem;
        }

        &::before {
            content: url("../images/phone2.svg");
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 4.5rem 0;

        @include breakpoint(767) {
            padding: 2.5rem 0;
        }
    }

    &__link {
        @include trs();
        color: $color-white;
        display: block;
        font-size: 1.6rem;
        font-weight: 500;
        padding: 2rem 9rem;
        text-decoration: none;

        @include on-event() {
            background-color: #ae222a;
        }

        @include breakpoint(767) {
            padding: 1.5rem 3.5rem;
        }
    }
}

.menu-opened {
    overflow: hidden;
}
