.page-image {
    &__picture {
        display: block;
        
        img {
            display: block;
            height: 100%;
            min-height: 32.6rem;
            object-fit: cover;
            width: 100%;

            @include breakpoint(767) {
                min-height: 20rem;
            }
        }
    }
}
