.quick-links {
    $this: &;

    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__item {
        counter-increment: step-counter;
        position: relative;
        width: 25%;

        @include breakpoint(767) {
            width: 50%;
        }
    }

    &__link {
        @include trs($duration: 400ms);
        display: block;
        position: relative;
        text-decoration: none;

        @include on-event() {
            &::before,
            &::after {
                opacity: 1;
            }

            &::before {
                right: 0;
                top: 0;
            }

            &::after {
                bottom: 0;
                left: 0;
            }

            #{$this}__link-wrap {
                &::before {
                    height: calc(100% - 5.2rem);
                    left: 2.7rem;
                    opacity: 1;
                    top: 2.6rem;
                    width: calc(100% - 5.4rem);

                    @include breakpoint(992) {
                        height: calc(100% - 4rem);
                        left: 2rem;
                        top: 2rem;
                        width: calc(100% - 4rem);
                    }

                    @include breakpoint(425) {
                        height: 100%;
                        left: 0;
                        top: 0;
                        width: 100%;
                    }
                }
            }
        }

        &::before,
        &::after {
            @include trs();
            border: solid $color-1--1;
            content: '';
            opacity: 0;
            position: absolute;
            z-index: 1;
        }

        &::before {
            border-width: 1rem 1rem 0 0;
            content: '';
            height: 3.8rem;
            right: 50%;
            top: 50%;
            width: 3.8rem;

            @include breakpoint(992) {
                border-width: 0.7rem 0.7rem 0 0;
                height: 3rem;
                width: 3rem;
            }
        }

        &::after {
            border-width: 0 0 0.7rem 0.7rem;
            bottom: 50%;
            height: 2.5rem;
            left: 50%;
            width: 2.5rem;

            @include breakpoint(992) {
                border-width: 0 0 0.4rem 0.4rem;
                height: 2rem;
                width: 2rem;
            }
        }
    }

    &__link-wrap {
        position: relative;

        &::before {
            @include trs();
            background-color: rgba($color-black, 0.3);
            content: '';
            height: 0;
            left: 50%;
            opacity: 0;
            position: absolute;
            top: 50%;
            width: 0;
            z-index: 1;
        }
    }
  
    &__picture {
        display: block;
        position: relative;

        &::before {
            background-color: rgba($color-black, 0.6);
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

        &::after {
            color: lighten($color-black, 99.61);
            content: '0'counter(step-counter);
            font-size: 4.2rem;
            font-weight: 300;
            left: 2.5rem;
            line-height: 1;
            opacity: 0.27;
            position: absolute;
            top: 2rem;

            @include breakpoint(1170) {
                font-size: 3rem;
                left: 2.6rem;
                top: 2.3rem;
            }

            @include breakpoint(992) {
                font-size: 2rem;
                left: 2rem;
                top: 2rem;
            }

            @include breakpoint(425) {
                font-size: 1.6rem;
                left: 1rem;
                top: 1rem;
            }
        }

        img {
            display: block;
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    &__caption {
        align-items: center;
        display: flex;
        color: $color-white;
        font-size: 2rem;
        font-weight: 900;
        left: 50%;
        margin: 0;
        position: absolute;
        text-transform: uppercase;
        top: 50%;
        transform: translate(-50%, -50%);

        @include breakpoint(992) {
            font-size: 1.5rem;
        }

        @include breakpoint(425) {
            font-size: 1.4rem;
        }

        img {
            margin-right: 2rem;

            @include breakpoint(992) {
                margin-right: 0;
                transform: scale(0.6);
            }
        }
    }
}
