.service {
	background: $color-white;
	position: relative;
	overflow: hidden;

	&::before {
		background: url('../images/service-decor.png') no-repeat top right;
		background-size: contain;
		content: '';
		height: 100%;
		right: 0;
		position: absolute;
		top: 0;
		width: 80%;

		@include breakpoint(767) {
			content: none;
		}
	}

	&__img {
		height: 100%;
		position: absolute;
		top: 0;
		right: 52%;		
		z-index: 1;

		@include breakpoint(767) {
			position: static;
			height: auto;
			width: 100%;
		}

		img {			
			height: 100%;

			@include breakpoint(767) {
				height: auto;
				width: 100%;
			}
		}

	}

	&__content {
		width: 45%;
		margin-left: auto;
		padding: 9rem 0 7rem;
		position: relative;

		@include breakpoint(992) {
			padding: 7rem 0 5rem;
 		}

		@include breakpoint(767) {
			width: 100%;
			padding: 3rem 1rem 4rem;
			text-align: center;
		}

		&::before {
			content: '';
			background: $color-1--1;
			width: 45rem;
			height: 1.7rem;
			position: absolute;
			bottom: 0;
			left: -73%;

			@include breakpoint(1170) {
				left: -100%;
			}

			@include breakpoint(992) {
				left: -110%;
			}

			@include breakpoint(767) {
				content: none;
			}
		}
	}

	&__title {
		color: $color-2--1;		
		font-size: 4.5rem;
		font-weight: 300;
		margin: 0 0 2rem;

		@include breakpoint(1170) {
			font-size: 4rem;
		}

		@include breakpoint(992) {
			font-size: 3rem;
		}

		@include breakpoint(767) {
			font-size: 2.7rem;
		}

		span {
			color: $color-1--1;
			font-weight: 700;
		}
	}

	&__text {
		line-height: 2.6rem;
		margin: 0 0 4.2rem;
		max-height: 5.2rem;
		overflow: hidden;

		@include breakpoint(992) {
			margin: 0 0 2rem;
			max-height: 7.8rem;
		}

		@include breakpoint(767) {			
			max-height: none;
		}
	}
}
