.service {
	background: gray;
	position: relative;
	overflow: hidden;

	&::before {
		background: url('../images/bg-delivery.png') no-repeat top right;
		background-size: contain;
		content: '';
		height: 100%;
		right: 0;
		position: absolute;
		top: 0;
		width: 80%;
	}

	&__img {
		position: absolute;
		top: 0;
		right: 52%;
		//max-width: 50%;
		//height: auto;
		z-index: 1;

		img {
			//max-width: 100%;
			height: 100%;
		}
	}

	&__content {
		width: 45%;
		margin-left: auto;
		padding: 9rem 0 7rem;
		position: relative;

		&::before {
			content: '';
			background: $color-1--1;
			width: 45rem;
			height: 1.7rem;
			position: absolute;
			bottom: 0;
			left: -73%;
		}
	}

	&__title {
		color: $color-2--1;		
		font-size: 4.5rem;
		font-weight: 300;
		margin: 0 0 2rem;

		span {
			color: $color-1--1;
			font-weight: 700;
		}
	}

	&__text {
		line-height: 2.6rem;
		margin: 0 0 4.2rem;
	}
}
