.tabs {
    &__list {
        display: flex;
        list-style: none;
        margin: 0 -1.8rem 2.5rem;
        padding: 0;

        @include breakpoint(640) {
            justify-content: center;
        }
    }

    &__item {
        margin: 0 1.8rem;
    }

    &__trigger {
        color: $color-2--1;
        cursor: pointer;
        font-family: $typo-1;
        font-size: 2.5rem;
        font-weight: 700;
        padding: 0;
        text-decoration: none;

        @include breakpoint(640) {
            font-size: 2rem;
        }

        @include breakpoint(480) {
            font-size: 1.4rem;
        }

        &.active {
            color: $color-1--1;
        }
    }
    
    &__panel {
        @include trs();
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        
        &.active {
            @include trs();
            max-height: 100%;
            opacity: 1;
            visibility: visible;
        }
    }
}
