{% set title = 'Главная' %}
{% extends 'layouts/_layout.njk' %}
{% from 'components/banner.njk' import banner with context %}
{% from 'components/service.njk' import service with context %}

{% block content %}
	{{ banner() }}
	{{ service() }}
{% endblock %}
