{% set title = 'Главная' %}
{% extends 'layouts/_layout.njk' %}
{% from 'components/banner.njk' import banner with context %}
{% from 'components/quick-links.njk' import quickLinks with context %}
{% from 'components/product.njk' import product with context %}
{% from 'components/service.njk' import service with context %}
{% from 'components/brand-text.njk' import brandText with context %}

{% block content %}
	{{ banner() }}
    {{ quickLinks() }}
    {{ brandText(brand = 'Nissan') }}
    {{ product() }}
    {{ service() }}
    <div class="article -home">
        <div class="container">
            <p class="article__text">
                Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле. C помощью этого онлайн-генератора рыботекста можно пачками плодить как отдельные предложения, так и целые абзацы отменнейшего рыбы-текста. А для любителей автоматизации даже реализован API фиштекста. Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
            </p>
            <p class="article__text">
                C помощью этого онлайн-генератора рыботекста можно пачками плодить как отдельные предложения, так и целые абзацы отменнейшего рыбы-текста. А для любителей автоматизации даже реализован API фиштекста.
            </p>
        </div>
    </div>
	<div class="map">
        <img src="../images/map.png" alt="Карта">
    </div>
{% endblock %}
