<div class="container">
    <div class="footer__wrapper">
        <div class="footer__left">
            <a href="#" class="footer__logo">
                <img src="images/logo2.png" alt="CVT Brothers">
            </a>
            <a href="#" class="footer__created">Created by GA</a>
            {#<a href="#" class="footer__search-link">Поиск по номеру</a>#}
        </div>
        <div class="footer__right">
            <div class="footer__menu">
                <ul class="footer__menu-list">
                    {% set menuItems = [
                        ['О компании', '#'],
                        ['Доставка и оплата', '#'],
                        ['Статьи', '#'],
                        ['Политика конфиденциальности', '#'],
                        ['Поиск по номеру', '#']
                    ] %}
                    {% for item, link in menuItems %}
                        <li class="footer__menu-item"><a href="{{ link }}">{{ item }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer__brands">
                <ul class="footer__brands-list">
                    {% set menuItems = [
                        ['NISSAN', '#', 'icon-nissan'],
                        ['mitsubishi', '#', 'icon-mitsubishi'],
                        ['Infiniti', '#', 'icon-infinity'],
                        ['Renault', '#', 'icon-renault']
                    ] %}
                    {% for item, link, icon in menuItems %}
                        <li class="footer__brands-item"><a href="{{ link }}"><img src="images/{{ icon }}.png" alt="{{ item }}">{{ item }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
