{% macro header(login = false) %}
    <div class="header">
        <div class="header__left">
            <div class="header__menu-btn">
                <button class="menu-toggle">
                    <span class="menu-toggle__lines">
                        <span class="menu-toggle__line"></span>
                        <span class="menu-toggle__line"></span>
                        <span class="menu-toggle__line"></span>
                    </span>
                </button>
            </div>
            <div class="header__logo">
                <a href="index.html" class="logo">
                    <span class="logo__image">
                        <img src="images/logo2.png" alt="CVT Brothers">
                    </span>
                </a>
            </div>
        </div>
        <div class="header__right">
            <div class="header__phone">
                <a href="tel:84956578800" class="header__phone-link">8 (495) 657 88 00</a>
            </div>
            <div class="header__login {{ '-active' if login }}">
                {% if login %}
                    <a class="header__login-link" data-fancybox data-src="#enter" href="javascript:;">verhovetskiy07@gmail.com</a>
                    <a href="#" class="header__login-out">Выйти</a>
                {% else %}
                    <a class="header__login-link" data-fancybox data-src="#enter" href="javascript:;">Личный кабинет</a>
                {% endif %}
            </div>
            <div class="header__basket">
                <a href="page-cart.html" class="header__basket-btn {{ '-active' if login }}"><span>3</span></a>
            </div>
        </div>
    </div>
    <div class="header-fixed"></div>
{% endmacro %}
