<div class="header">
    <div class="header-bar">
        <div class="header-bar__left">
            <div class="header-bar__menu-btn">
            <button class="menu-toggle">
                <span class="menu-toggle__lines">
                    <span class="menu-toggle__line"></span>
                    <span class="menu-toggle__line"></span>
                    <span class="menu-toggle__line"></span>
                </span>
            </button>
        </div>
            <div class="header-bar__logo">
                <a href="#" class="logo">
                <span class="logo__image">
                    <img src="images/logo.png" alt="CVT Brothers">
                </span>
                </a>
            </div>
        </div>
        <div class="header-bar__right">
            <div class="header-bar__phone">
                <a href="tel:84956578800" class="header-bar__phone-link">8 (495) 657 88 00</a>
            </div>
            <div class="header-bar__login">
                <a href="#" class="header-bar__login-link">Личный кабинет</a>
            </div>
            <div class="header-bar__basket">
                <button class="header-bar__basket-btn"><span class="hidden">Корзина</span></button>
            </div>
        </div>
    </div>
    <div class="header-fixed"></div>
</div>
