{% macro article(articleHeading = false, video = false) %}
    <article class="article">
        {% if articleHeading %}
            <div class="article__heading">
                <h1 class="article__caption">Южноафриканская компания Mureza Auto представила свою первую</h1>
                <div class="article__info">
                    <p class="article__date"><time datetime="2019-05-25">25 Май 2019</time></p>
                    <div class="article__share">
                        <!-- Load Facebook SDK for JavaScript -->
                        <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s); js.id = id;
                                js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>
                            <!-- Your share button code -->
                            <div class="fb-share-button"
                                 data-href="https://www.your-domain.com/your-page.html"
                                 data-layout="button_count">
                            </div>
                    </div>
                </div>
                <picture class="article__image">
                    <img src="//picsum.photos/871/409?image={{ range(40, 100) | random }}" alt="Описание картинки">
                </picture>
            </div>
        {% endif %}
        <h2 class="article__title">
            Почему выбирают именно нас
        </h2>
        <p class="article__text"><strong>Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д.</strong></p>
        <p class="article__text">Каждый веб-разработчик знает, что такое текст-«рыба». Текст этот, несмотря на название, не имеет никакого отношения к обитателям водоемов. Используется он веб-дизайнерами для вставки на интернет-страницы и демонстрации внешнего вида контента, просмотра шрифтов, абзацев, отступов и т.д. Так как цель применения такого текста исключительно демонстрационная, то и смысловую нагрузку ему нести совсем необязательно. Более того, нечитабельность текста сыграет на руку при оценке качества восприятия макета.</p>
        <ol class="article__list">
            {% for item in range(3) %}
                <li>
                    Противоположная точка зрения подразумевает, что диаграммы связей и по сей день остаются уделом либералов, которые жаждут быть объявлены нарушающими общечеловеческие нормы этики и морали.
                </li>
            {% endfor %}
        </ol>
        <p class="article__text">
            В своем стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение нашей деятельности, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для экономической целесообразности принимаемых решений. Являясь всего лишь частью общей картины, многие известные личности лишь добавляют фракционных разногласий и призваны к ответу. Каждый из нас понимает очевидную вещь: экономическая повестка сегодняшнего дня требует от нас анализа системы обучения кадров, соответствующей насущным потребностям.
        </p>
        <ul class="article__list">
            {% for item in range(3) %}
                <li>
                    Как уже неоднократно упомянуто, сторонники тоталитаризма в науке обнародованы. Как уже неоднократно упомянуто, стремящиеся вытеснить традиционное производство, нанотехнологии формируют глобальную экономическую сеть и при этом - ассоциативно распределены по отраслям.
                </li>
            {% endfor %}
        </ul>
        <p class="article__text">
            В своем стремлении повысить качество жизни, они забывают, что базовый вектор развития позволяет оценить значение анализа существующих паттернов поведения. Но тщательные исследования конкурентов могут быть объявлены нарушающими общечеловеческие нормы этики и морали. И нет сомнений, что элементы политического процесса разоблачены.
        </p>
        <table class="article__table">
            <thead>
                <tr>
                    {% for cell in range(6) %}
                        <th scope="col">Заголовок 1</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for row in range(2) %}
                <tr>
                    <th scope="row">Строка</th>
                    {% for cell in range(5) %}
                        <td>0,00001 %</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h3 class="article__subtitle">
            Почему выбирают именно нас
        </h3>
        <p class="article__text">
            В своем стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение нашей деятельности, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для экономической целесообразности принимаемых решений. Являясь всего лишь частью общей картины, многие известные личности лишь добавляют фракционных разногласий и призваны к ответу. Каждый из нас понимает очевидную вещь: экономическая повестка сегодняшнего дня требует от нас анализа системы обучения кадров, соответствующей насущным потребностям.
        </p>
        {% if video %}
            <div class="article__video">
                <iframe width="790" height="420" src="https://www.youtube.com/embed/Ju86mknumYM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        {% endif %}
        <blockquote class="article__blockquote">
            В своем стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение нашей деятельности, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для экономической целесообразности принимаемых решений. Являясь всего лишь частью общей картины, многие известные личности лишь добавляют фракционных разногласий и призваны к ответу. Каждый из нас понимает очевидную вещь: экономическая повестка сегодняшнего дня требует от нас анализа системы обучения кадров, соответствующей насущным потребностям.
        </blockquote>
        <p class="article__text">
            В своем стремлении повысить качество жизни, они забывают, что постоянное информационно-пропагандистское обеспечение нашей деятельности, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для экономической целесообразности принимаемых решений. Являясь всего лишь частью общей картины, многие известные личности лишь добавляют фракционных разногласий и призваны к ответу. Каждый из нас понимает очевидную вещь: экономическая повестка сегодняшнего дня требует от нас анализа системы обучения кадров, соответствующей насущным потребностям.
        </p>
    </article>
{% endmacro %}
