{% macro banner() %}
	<section class="banner">
		<div class="slider slider-banner">
			<div class="banner__img">
				<img src="https://post.carsforsale.com/CustomTemplatePhotos/533398/photos/ss1.jpg">
			</div>
			<div class="banner__img">
				<img src="https://9to5google.com/wp-content/uploads/sites/4/2019/07/android_auto_14.jpg?quality=82&strip=all&w=1600">
			</div>
		</div>

		<div class="banner__content">
			<div class="container">
				<h1 class="banner__title">
					<span class="banner__title -red">Надежные</span>
					вариаторы для вашего авто
				</h1>
				<div class="banner__form">
					<form name="form", action="", method="POST">
						<div class="banner__form-wrap">
							<div class="banner__input">
								<input type="search" name="search" placeholder="Поиск по номеру">
							</div>
							<div class="banner__submit">
								<button type="submit">НАЙТИ</button>
							</div>							
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
{% endmacro %}
