{% macro brandText(brand) %}
    <section class="brand-text -{{ brand | lower }}">
        <div class="container">
            <div class="brand-text__wrapper">
                <div class="brand-text__image">
                    <img src="images/logo-{{ brand | lower }}.png" alt="{{ brand }}">
                </div>
                <div class="brand-text__content">
                    <h1 class="brand-text__title">
                        Продажа Автоматических коробок передач для <strong>{{ brand }}</strong>
                    </h1>
                    <div class="brand-text__teaser">
                        <p>Кстати, базовые сценарии поведения пользователей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут описаны максимально подробно. Внезапно, базовые сценарии поведения пользователей, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. Ясность нашей позиции очевидна: сплочённость команды профессионалов создаёт предпосылки для поэтапного и последовательного развития общества. Кстати, базовые сценарии поведения пользователей, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут описаны максимально подробно.</p>
                        <p>Внезапно, базовые сценарии поведения пользователей, вне зависимости от их уровня, должны быть преданы социально-демократической анафеме. Ясность нашей позиции очевидна: сплочённость команды профессионалов создаёт предпосылки для поэтапного и последовательного развития общества.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endmacro %}
