{% macro historyCard(order = false, btnClose = false) %}
    <div class="history">
        {% set titles = ['Nissan', 'Mitsubishi'] %}
        {% for title in titles %}
            <h2 class="history__title">{{ title }}</h2>
            {% for i in range(2) %}
                <div class="history__card card">
                    {% if btnClose %}
                        <button type="button" class="card__close-btn"><span class="hidden">Закрыть</span></button>
                    {% endif %}
                    <div class="card__content">
                        <div class="card__image">
                            <img src="images/card-image.png" alt="{{ title }}">
                        </div>
                        <div class="card__data">
                            <h3 class="card__title">
                                {{ title }} Outlander  2,0
                            </h3>
                            <p class="card__subtitle">
                                2014-2022 передний привод
                            </p>
                            <p class="card__state">
                                Вариатор в сборе
                                <span>{{ 'Новый' if loop.index === 1 else 'Восстановленный' }}</span>
                            </p>
                        </div>
                    </div>
                    {% if order %}
                        <div class="card__info">
                            <div class="card__info-col">
                                <span class="card__info-caption">Кол-во</span>
                                <div class="card__info-quantity calc">
                                    <button type="button" class="calc__btn -plus"><span class="hidden">Добавить товар</span></button>
                                    <span class="calc__amount">1</span>
                                    <button type="button" class="calc__btn -minus"><span class="hidden">Убрать товар</span></button>
                                </div>
                            </div>
                            <div class="card__info-col">
                                <span class="card__info-caption">Цена</span>
                                <span class="card__info-sum">10 000 ₽</span>
                            </div>
                            <div class="card__info-col">
                                <span class="card__info-caption">Сумма</span>
                                <span class="card__info-sum">20 000 ₽</span>
                            </div>
                        </div>
                    {% else %}
                        <div class="card__info">
                            <div class="card__info-col">
                                <span class="card__info-caption">Дата</span>
                                <span class="card__info-date"><time datetime="2019-06-25">25.06.2019</time></span>
                            </div>
                            <div class="card__info-col">
                                <span class="card__info-caption">Сумма</span>
                                <span class="card__info-sum">20 000 ₽</span>
                            </div>
                            <div class="card__info-col">
                                <span class="card__info-caption">Статус</span>
                                <span class="card__info-status {{ '-done' if loop.index === 2 }}">{{ 'В оплате' if loop.index === 1 else 'Оплачен' }}</span>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endmacro %}
