{% macro rubric(title = 'Шаблон страницы', teaser = true, modifier) %}
    <div class="rubric {{ modifier }}">
        <h1 class="rubric__title">
            {{ title }}
        </h1>
        {% if teaser %}
            <p class="rubric__teaser">
                Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
            </p>
        {% endif %}
    </div>
{% endmacro %}
