<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/main.css">
    <!-- import jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="site-wrapper-out">
    {% include 'partials/_menu.njk' %}
    <div class="site-wrapper">
        <header class="site-header" role="banner">
            {% block header %}
                {% include 'partials/_header.njk' %}
            {% endblock %}
        </header>
        <main class="site-main" role="main">
        {% block content %}{% endblock %}
        </main>
        <footer class="site-footer footer" id="footer" role="contentinfo">
        {% block footer %}
            {% include 'partials/_footer.njk' %}
        {% endblock %}
        </footer>
    </div>
</div>
<script src="js/main.js"></script>
</body>
</html>
